<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MCORA RENTAL</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/images/mcora.jpeg" type="image/x-icon">

    <link href="~/HomeProperty/css/font-awesome.css" rel="stylesheet">
    <link href="~/HomeProperty/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/HomeProperty/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/HomeProperty/css/nouislider.css">
    <link rel="stylesheet" href="~/HomeProperty/css/jquery.fancybox.css" type="text/css" media="screen" />
    <link id="switcher" href="~/HomeProperty/css/theme-color/default-theme.css" rel="stylesheet">
    <link href="~/HomeProperty/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/homestate/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/owl.carousel.css" type='text/css' />
    <link rel="stylesheet" href="~/css/prettyMenu.css">
    <link rel="stylesheet" href="~/css/hover.css">
    <link rel="stylesheet" href="~/css/hamburgers.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/tooplate-style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,900" rel="stylesheet">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type='text/css' />
    <link rel="stylesheet" href="~/css/flatpickr.css">
    <link rel="stylesheet" type="text/css" href="~/js/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/js/slick/slick-theme.css" />
    @*<link rel="stylesheet" type="text/css" href="~/css/bootstrap2.min.css" />*@
    <link rel="stylesheet" type="text/css" href="~/css/datepicker.css" />
    <script src="~/js/datepicker.min.js"></script>                <!-- https://github.com/qodesmith/datepicker -->
    <link rel="stylesheet" href="~/css/tooplate-style.css">
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="~/HomeProperty/js/jquery.min.js"></script>


</head>
<body class="aa-price-range">
    <div id="aa-preloader-area">
        <div class="pulse"></div>
    </div>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
    <header id="aa-header">
    </header>
    @Html.Partial("_PartialMenu")

    @RenderBody()

    <footer id="aa-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-area">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="aa-footer-left">
                                    <p>Sitenin Tüm Hakları Mcora Car Rental'a Aittir</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="aa-footer-middle">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aa-footer-right">
                                    <a href="/">Anasayfa</a>
                                    <a href="/Kategoriler">Araç Listesi</a>
                                    <a href="/blog">Blog</a>
                                    <a href="Hakkimizda">Hakkımızda</a>
                                    <a href="iletisim">İletişim</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/HomeProperty/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/HomeProperty/js/slick.js"></script>
    <script type="text/javascript" src="~/HomeProperty/js/jquery.mixitup.js"></script>
    <script type="text/javascript" src="~/HomeProperty/js/jquery.fancybox.pack.js"></script>
    <script src="~/HomeProperty/js/custom.js"></script>
    <script src="~/js/flatpickr.js"></script>
    <script src="~/js/jquery.singlePageNav.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>
    <script src="~/js/jquery-1.11.3.min.js"></script>             <!-- jQuery (https://jquery.com/download/) -->
    <script src="~/js/popper.min.js"></script>                    <!-- https://popper.js.org/ -->
    <script src="~/js/bootstrap.min.js"></script>                 <!-- https://getbootstrap.com/ -->
    <script src="~/js/jquery.singlePageNav.min.js"></script>      <!-- Single Page Nav (https://github.com/ChrisWojcik/single-page-nav) -->
    <script src="~/js/slick/slick.min.js"></script>                  <!-- http://kenwheeler.github.io/slick/ -->
</body>
</html>